.section__outer{
  margin: 0 25% 0 24%;
}

.section__inner{
  width: 100%;
}

.section__text{
  font-family:sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.section__text--center{
  text-align: center;
}

@media screen and (max-width: 767px){

  .section__outer{
    margin: 0 15% 0 15%;
  }

  .section__inner{
    width: 100%;
  }

  .section__text{
    font-family:sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  .section__text--center{
    text-align: center;
  }
}
